.account{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align:center;
    &__section{
        width: 20%;
        @include responsive(laptop){
            width: 40%;
        }
        @include responsive(tablet){
            width: 35%;
            
        }
        @include responsive(mobile){
            width: 50%;
        }
        & h1{
            margin-bottom: 6rem;
            font-size:2.3rem;
            letter-spacing: 0.5px;
            & span{
                font-family: $headline1;
                text-transform:uppercase;
                
            }
        }
    }
}
.loginRegisterBtn {
    @extend %button;
    &:hover {
      background: $RegisterButtonBackground radial-gradient(circle, transparent 1%, $RegisterButtonBackground 1%)
        center/15000%;
      color: white;
    }
    &:active {
      background-color: #292d3e;
      background-size: 100%;
      transition: background 0s;
    }
  }